################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BrasilAPI/BrasilAPI/bin/Debug/netstandard2.0
/BrasilAPI/BrasilAPI/obj
/BrasilAPI/BrasilAPI.Test/bin/Debug/netcoreapp3.1
/BrasilAPI/BrasilAPI.Test/obj
/BrasilAPI/BrasilAPI/BrasilAPI.csproj.user
/BrasilAPI/.vs
/BrasilAPI/.vs/BrasilAPI
/BrasilAPI/BrasilAPI/bin
/BrasilAPI/BrasilAPI/Properties/PublishProfiles
/BrasilAPI/ConsoleApp/bin
/BrasilAPI/ConsoleApp/obj
/BrasilAPI/Exemplo/ConsoleApp/bin
/BrasilAPI/Exemplo/ConsoleApp/obj
/BrasilAPI/Exemplo/bin/Debug/net6.0
/BrasilAPI/Exemplo/obj
obj
bin
