name: Publish Packages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        
    - name: Install dependencies
      run: dotnet restore
      working-directory: BrasilAPI/BrasilAPI/
                      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: BrasilAPI/BrasilAPI/
       
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      
    - name: Publish BrasilAPI-DotNet 
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
          PROJECT_FILE_PATH: BrasilAPI/BrasilAPI/BrasilAPI.csproj
          NUGET_KEY: ${{secrets.NUGETAPIKEY}}
          
